.menu__link{
    text-decoration: none;
}
.menu__link:hover{
    color: red;
    transition: 0.3s;
}
.menu__link:active{
    color: green;
}

#r1{
 text-decoration: underline;
}
#r4{
    font-weight: bold;
}
#r3{
    background-color: orange;
}
.product {
  width: 250px;
  padding: 24px;
  border: 1px solid #000;
  position: relative;
}
.product::after{
    content: 'new';
  background-color: rgb(255, 0, 0);
  width: 35px;
  height: 35px;
  position: absolute;
  color: white;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.product::before{
    content: "sale";
     background-color: orange;
  width: 35px;
  height: 35px;
  position: absolute;
  color: white;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.product__img {
  background-color: forestgreen;
  height: 150px;
}
.svg{
    width: 40px;
}
.svg:hover{
    cursor: pointer;
    fill: purple;
    width: 45px;
}
.svg:active{
    fill: yellow;
}


.item {
  width: 150px;
  height: 86px;
  background-color: forestgreen;
  border: 1px solid #000;
  transition: transform 1s;
}

.item_1:hover {
    margin-left: 50px;
    transition: 1s;
}
.item_2:hover{
    width: 300px;
    height: 172px;
    transition: 1s;
}
.item_3:hover{
    transform: rotate(60deg);
    transition: 1s;
}

.content1 {
  margin-top: 200px;
  margin-left: 200px;
  position: relative;
}

.item1 {
  position: absolute;
  width: 190px;
  height: 80px;
  border: 1px solid #000;
}

.item_11{
    transform: rotate(90deg);
}
.item_22{
    transform: rotate(45deg);
}
.item_33{
    transform: rotate(-45deg);
}

.button {
  width: 150px;
  height: 50px;
  background-color: purple;
  color: white;
  text-align: center;
  line-height: 50px;
  font-family: sans-serif;
  font-size: 18px;
}

@keyframes lelele{
    0%{
        width:50px;
        height: 100px;
        transform: rotate(90deg);
    }
    100%{
        width: 150px;
        height: 50px;
        transform: rotate(0deg);
    }
}
.button{
    animation: lelele 3s ease-out;
}